html {
  font-size: 20px;
}

header {
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
}

main {
  padding: 2rem;
}

h2 {
  font-size: 2rem;
}

p,
ul {
  margin-top: 1rem;
}

li {
  margin-top: 0.5rem;
}

section {
  margin-top: 2rem;
}
